body{
    margin: 0;
}
header{
    height: 65px;
    background-color: #E6B69C;
}
footer{
    height: 278px;
    background: #F2A4DC;
}

.block-1 .item{
    height: 435px;
}
.block-1 .item.first{
    background-color:  #D5CA69;
}
.block-1 .item.second{
    background: #F4A2A2;
}
.item-1{
    background: #69C8D5;
    height: 259px;
}
.item-2{
    background: #89AFE8;
    height: 85px;
}
.item-first{
    background: #BB9BE4;
    height: 637px;
}
.item-second{
    background: #6EB468;
    height: 637px;
}